body {
  background-color: #f1e1f7;
  color: #230933;
  font-family: "Trebuchet MS", sans-serif, sans-serif;
}
h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: -10px;
  padding: 0;
  position: relative;
  margin-left: -300px;
  color: #5d2182;
  font-size: 50px;
  font-family: "Times New Roman", sans-serif, sans-serif;
}
h3 {
  margin: auto;
  text-align: center;
  margin-top: 5%;
  font-style: italic;
  color: #5d2182;
  font-size: 13px;
  font-family: "helvetica", sans-serif;
}
b {
  color: #5d2182;
}
i {
  color: #5d2182;
}
#main {
  background-color: white;
  border: solid 1px;
  width: 550px;
  color: #230933;
  margin: auto;
  height: 400px;
  overflow: auto;
  padding: 30px;
  font-size: 13px;
}
hr {
  width: 250px;
  color: #bd8ccf;
}
